:root{
    --fuchsia: #750042;
    --magenta: #8C1675;
    --purple: #62007A;
    --navy: #04007A;
    --blue: #0037B8;
    --teal: #008F70;

    --error: #ad6767;
    --success: #5d925f;
}
.darkmode {
    color-scheme: dark;
    transition: 1s;
}
.lightmode {
    color-scheme: light;
    transition: 1s;
}
* {
    padding: 0;
    margin: 0;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}

/* Colour Classes */
.red {
    color: red;
}
.orange {
    color: orange;
}
.yellow {
    color: goldenrod;
}
.green {
    color: darkolivegreen;
}
.blue {
    color: dodgerblue;
}
.light-blue{
    color: rgb(84, 187, 255);
}
.cyan {
    color: teal;
}
.purple {
    color: purple;
}
.pink {
    color: #e0218a;
}
.brown{
    color: rgb(146, 73, 0);
}
.grey{
    color: rgb(86, 86, 86);
}
.black {
    color: #1c2841;
}
.white {
    color: #b4abb8;
}
.rainbow {
    color: rgb(210, 172, 231);
}
.gold{
    color: rgb(227, 162, 9);
}
.unfilled {
    color: rgb(101, 101, 101);
}

/* HTML elements */
ul {
    list-style-type: disc;
    padding-left: 20px;
}

/* Custom Classes */
#catalogue {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    justify-items: center;
}
.card {
    width: 15rem;
    height: 15rem;
    max-width: 15rem;
    max-height: 15rem;
    padding: 1rem;
    border: 1px solid var(--navy);
    margin: 8px;
    overflow: scroll;
}

.chip{
    padding: .5rem;
    border-radius: 4px;
    /* background-color: var(--magenta); */
    color: white;
    font-size: x-small;
    font-style: italic;
}

.error {
    background-color: var(--error);
}

.success {
    background-color: var(--success);
}

@media only screen and (max-width: 900px) {
    #catalogue{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 600px) {
    #catalogue{
        grid-template-columns: 1fr;
    }
}